body {
  margin: 0;
  font-family: 'Segoe UI', Arial, sans-serif;
  background: linear-gradient(to bottom, #1e293b, #0f172a);
  color: white;
  text-align: center;
}

.contenedor {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.header h1 {
  margin: 0;
  font-size: 32px;
}

.frase {
  color: #cbd5f5;
  margin: 5px 0;
}

.autor {
  font-size: 14px;
  color: #94a3b8;
}

.juego {
  margin-top: 20px;
}

canvas {
  background: #f8fafc;
  border-radius: 10px;
  border: 3px solid #22c55e;
  box-shadow: 0 10px 25px rgba(0,0,0,0.4);
}

/* PANEL */
.panel {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.stat {
  background: #1e293b;
  padding: 10px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.label {
  display: block;
  font-size: 12px;
  color: #94a3b8;
}

#txtPuntaje, #txtVidas {
  font-size: 20px;
  font-weight: bold;
}

/* BOTONES */
.botones {
  margin-top: 15px;
}

button {
  background: #22c55e;
  border: none;
  padding: 10px 18px;
  margin: 5px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  transition: 0.2s;
}

button:hover {
  background: #16a34a;
  transform: scale(1.05);
}

/* MENSAJE */
.mensaje {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #facc15;
}